body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #f5f7f8; */
  background-color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
  /*font-family: Roboto;*/
}

::-webkit-scrollbar {
  background-color: white;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #17e6c8;
}

@media only screen and (max-width: 1366px) {
  ::-webkit-scrollbar {
    width: 8px;
  }
}

.text-editer::-webkit-scrollbar {
  background-color: gold;
  width: 10px;
}

.text-editer::-webkit-scrollbar-thumb {
  background-color: #731dbf;
}

@font-face {
  font-family: myriad;
  src: url("./assets/fonts/Myriad\ Hebrew.ttf");
}
